#left-pane {
  background-color: #eee;
  width: 20%;
  height: 100%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  border-right: solid 1px black;
}

#screenshot-pane {
  width: 80%;
  height: 100%;
  float: right;
  position: relative;
  cursor: crosshair;
  background-color: #eee;
}

#progress-bar-container {
  border: solid 1px #666;
  width: 100%;
  height: 20px;
  display: none;
}

#progress-bar {
  background-color: steelblue;
  width: 0%;
  height: 100%;
  transition: width 0.5s;
}

.label-pickers div {
  width: 45%;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.6;
  cursor: pointer;
  -webkit-user-select: none;
}

.label-pickers div.selected {
  opacity: 1;
}

.yellow {
  background-color: #dbdb57;
}

.orange {
  background-color: #e09952;
}

.red {
  background-color: #cb4d4d;
}

.green {
  background-color: #34b27d;
}

.blue {
  background-color: #4d77cb;
}

.purple {
  background-color: #93c;
}

.rectangle {
  position: fixed;
  border: solid 6px #ffaa00;
}

#screenshot-pane canvas {
}

#login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#login-box {
  width: 350px;
  background-color: #fff;
  opacity: 1;
  margin: 0 auto;
  margin-top: 300px;
  padding: 20px;
  border: solid 1px #000;
}

#login-box input {
  width: 300px;
}


