#left-pane {
  background-color: #eee;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  border-right: solid 1px black;
  transition: left 0.5s;
  box-shadow: 2px 0px 5px #000;
}

#top-pane {
  background-color: #eee;
  box-sizing: border-box;
  border-bottom: solid 1px black;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0px 2px 5px #000;
}

#screenshot-pane {
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: crosshair;
  background-color: #fff;
}

#progress-bar-container {
  border: solid 1px #666;
  width: 100%;
  height: 20px;
  display: none;
}

#progress-bar {
  background-color: steelblue;
  width: 0%;
  height: 100%;
  transition: width 0.5s;
}

.label-pickers div {
  width: 45%;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  color: #fff;
  text-shadow: 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000, -2px -2px 1px #000;
  font-weight: bold;
  font-size: 16px;
}

.yellow {
  background-color: #dbdb57;
}

.orange {
  background-color: #e09952;
}

.red {
  background-color: #cb4d4d;
}

.green {
  background-color: #34b27d;
}

.blue {
  background-color: #4d77cb;
}

.purple {
  background-color: #93c;
}

.rectangle {
  position: fixed;
  border: solid 6px #ffaa00;
}

#login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#login-box {
  width: 350px;
  background-color: #fff;
  opacity: 1;
  margin: 0 auto;
  margin-top: 300px;
  padding: 20px;
  border: solid 1px #000;
}

#login-box input {
  width: 300px;
}
